.cards-list {
  width: 100%;
  padding: 2rem;
  gap: 2rem;
  /* flex-wrap: wrap; */
}

.card {
  width: 80%;
  min-height: 10rem;
  padding: 2rem;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  border: white 4px solid;
  /* justify-content: flex-start; */
}
.card:hover {
  background-color: var(--blue2);
}

.reverse{
  flex-direction: row-reverse;
}

.card-Img {
  width: 30rem;
  height: 20rem;
  border-radius: 1rem;
  border: var(--blue1) 1px solid;
  box-shadow: 1rem 1rem 0px var(--blue1);
}
.card-Text {
  width: 60%;
  padding: 1rem;
  gap: 2rem;
  flex-direction: column;
}
.card-Text-H {
  font-size: 1.6rem;
  font-weight: bold;
}
.card-Text-D {
  font-size: 1.2rem;
  font-weight: normal;
}
.card-Text-C {
  width: 12rem;
  height: 3rem;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: var(--blue1);
  border-radius: 50rem;
  color: white;
}
.card-Text-C:hover {
  background-color: var(--green);
}

/* @media (max-width: 1024px) {
    
  } */

/* @media (max-width: 412px) {
    
  } */
