* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }
  
  :root {
    --blue1: #2ea2e0;
    --blue2: #abdaf3;
    --green: #bdd71c;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
  }
  
  .CC {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    overflow-x: hidden;
  }
  .main-content {
    width: 100%;
    overflow-x: hidden;
    flex-direction: column;
    margin-top: 80px;
  }
  
  #currentPage {
    display: none;
  }
  
  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    color: white;
    background-color: red;
    border-radius: 50%;
  }
  .close-btn:hover {
    background-color: rgb(185, 0, 0);
  }
  
  .section {
    width: 100%;
    padding: 2rem;
    gap: 2rem;
    flex-direction: column;
    text-align: center;
  }
  .section-W {
    background-color: white;
    color: black;
  }
  .section-B {
    background-color: var(--blue1);
    color: white;
  }
  
  .Single{
    margin: 3rem;
  }
  .First {
    height: 100vh;
  }
  .section-heading {
    font-size: 5rem;
    font-weight: bold;
  }
  

  /* Tab =============================================================  */
@media (max-width: 1024px) {
    .section-heading {
      font-size: 4.4rem;
    }
  }
  
  /* Mobile =============================================================  */
  @media (max-width: 412px) {
    .section-heading {
      font-size: 4rem;
    }
  }
  
  /* Custom scrollbar styles ================================================ */
  ::-webkit-scrollbar {
    width: 1.2rem;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--blue1);
    border: black 1px solid;
  }
  