#counters{
  padding: 2rem;
}
.counter {
  width: 20rem;
  height: 20rem;
  background-color: white;
  border-radius: 50%;
  color: black;
  flex-direction: column;
  font-size: 1.6rem;
}
.counterH {
  width: 70%;
}
.counterNv {
  font-size: 3.2rem;
  font-weight: bold;
}

#un{
  margin-top: 2rem;
  padding: 2rem;
}
#un-heading > h2 {
  font-size: 4rem;
  font-weight: bold;
}
#un-heading > h4 {
  font-size: 2rem;
}
#un-img{
  padding: 2rem;
}


/* Tab =============================================================  */
@media (max-width: 1024px) {
  .counter {
    width: 19rem;
    height: 19rem;
  }
  .counterNv {
    font-size: 2.8rem;
  }
}

/* Mobile =============================================================  */
@media (max-width: 412px) {
  #counters {
    flex-direction: column;
  }
  .counter {
    width: 17rem;
    height: 17rem;
    font-size: 1.4rem;
  }
  .counterNv {
    font-size: 2.6rem;
  }
}