.card {
  width: 80%;
  height: 28rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: white 2px solid;
}
.card:hover {
  cursor: pointer;
  background-color: var(--blue2);
  border: var(--blue1) 2px solid;
}

.card-Img {
  width: 30rem;
  height: 20rem;
  border-radius: 1rem;
  border: var(--blue1) 1px solid;
  box-shadow: 1rem 1rem 0px var(--blue1);
}
.card-Img img{
  border-radius: 1rem;
}

.card-Text {
  width: 60%;
  flex-direction: column;
}

.card-Text-Geo {
  width: 100%;
  flex-direction: column;
}


/* Tab =============================================================  */

@media (max-width: 1024px) {
  .card {
    width: 100%;
    height:fit-content;
  }
  /* .card-Text-GH {
    font-size: 1.4rem;
  }
  .card-Text-GT {
    font-size: 1rem;
  } */
}

/* Mobile =============================================================  */

@media (max-width: 412px) {
  .card {
    flex-direction: column;
  }
  .card-Text {
    width: 100%;
  }
}
