.hero {
  box-shadow: 1rem 1rem 0px var(--blue1);
  border: black 2px solid;
  border-radius: 1rem;
}

.page-content {
    width: 70%;
}

.page-content-Img {
    box-shadow: 1rem 1rem 0px var(--blue2);
    border: black 2px solid;
}

.page-content-Text {
    width: 100%;
    padding: 0 2rem;
}

.list{
    width: inherit;
}