* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --blue1: #2ea2e0;
  --blue2: #abdaf3;
  --green: #bdd71c;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

/* -------------------------------------------------------------- */

.CC {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.COLUMN {
  flex-direction: column;
}
.REVERSE {
  flex-direction: row-reverse;
}

.LIST {
  width: 100%;
  flex-wrap: wrap;
}

.PG10 {
  padding: 1rem;
  gap: 1rem;
}
.PG_0 {
  padding: 0px;
  gap: 0px;
}

.Rotate-R {
  transform: rotate(90deg);
}
.Rotate-L {
  transform: rotate(-90deg);
}

/* -------------------------------------------------------------- */

body {
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.main-content {
  width: 100%;
  overflow-x: hidden;
  flex-direction: column;
  margin-top: 80px;
}

#currentPage {
  display: none;
}

.BR50{
  border-radius: 50%;
}
.BR10{
  border-radius: 1rem;
}

.pointer:hover {
  cursor: pointer;
}

.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

/* -------------------------------------------------------------- */

.section {
  width: 100%;
  flex-direction: column;
  text-align: center;
}
.section-W {
  background-color: white;
  color: black;
}
.section-B {
  background-color: var(--blue1);
  color: white;
}

.Single {
  margin: 3rem 0px;
}
.First_100 {
  height: calc(100vh - 8rem);
}
.First {
  height: fit-content;
  padding: 6rem 4rem;
}

.section-heading {
  font-size: 5rem;
  font-weight: bold;
}
.section-img > img {
  width: 50%;
  object-fit: cover;
}
.section-text {
  width: 75%;
  font-size: 2rem;
  font-weight: normal;
  gap: 2rem;
  flex-direction: column;
}

/* -------------------------------------------------------------- */

.BTN {
  width: 16rem;
  height: 3rem;
  background-color: var(--blue1);
  border-radius: 50rem;
  color: white;
  border: var(--blue1) 1px solid;
}
.BTN:hover {
  cursor: pointer;
  background-color: var(--green);
  border: white 1px solid;
}

.BTN_30 {
  width: 30px;
  height: 30px;
}

.BTN_30 > img{
  width: 90%;
  height: 90%;
  border-radius: inherit;
}

.close{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.close:hover {
  background-color: rgb(224, 224, 224);
}
.close img{
  width: 60%;
  height: 60%;
}

.close-R{
  background-color: red;
}
.close-R:hover {
  background-color: rgb(185, 0, 0);
}


/* -------------------------------------------------------------- */

.WhiteBG {
  background-color: rgba(255, 255, 255, 0.80);
  border-radius: 1rem;
  padding: 2rem;
  color: black;
}

.Text-Left {
  text-align: left;
}

.H20 {
  font-size: 2rem;
  font-weight: bold;
}
.H16 {
  font-size: 1.6rem;
  font-weight: bold;
}

.T16 {
  font-size: 1.6rem;
}
.T14 {
  font-size: 1.4rem;
}
.T12 {
  font-size: 1.2rem;
}

/* Tab =============================================================  */
@media (max-width: 1024px) {
  .section-heading {
    font-size: 4.4rem;
  }
  .section-text {
    width: 80%;
    font-size: 1.8rem;
    font-weight: normal;
    gap: 2rem;
  }
}

/* Mobile =============================================================  */
@media (max-width: 430px) {
  .section-heading {
    font-size: 3.2rem;
  }
  .section-text {
    width: 100%;
    font-size: 1.2rem;
    font-weight: normal;
    /* gap: 2rem; */
  }
}

/* Custom scrollbar styles ================================================ */
::-webkit-scrollbar {
  width: 1.2rem;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--blue1);
  border: black 1px solid;
}
