
.vmv {
  width: 80%;
  height: fit-content;
  background-color: var(--blue2);
  border-radius: 1rem;
  border: white 2px solid;
}

.vmv-Img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: var(--blue1) 1px solid;
}

.vmv-Text {
  width: 80%;
  justify-content: space-between;
}
.vmv-Text-H {
  font-size: 2rem;
  text-decoration: underline;
  font-weight: bold;
}

/* -------------------------------------------------------------- */

.people {
  width: 22rem;
  height: 28rem;
  border-radius: 1rem;
  border: white 2px solid;
  justify-content: start;
  background-color: white;
  color: var(--blue1);
}
.people:hover {
  background-color: var(--blue2);
  cursor: pointer;
}

.people-Img {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  border: var(--blue1) 1px solid;
}

.people-Text {
  width: 80%;
  justify-content: space-between;
}

/* -------------------------------------------------------------- */

.award {
  width: 20rem;
  height: 30rem;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 1rem;
  border: var(--blue1) 4px solid;
  background-color: white;
  color: var(--blue1);
}
.award:hover {
  cursor: pointer;
  border: var(--green) 4px solid;
  background-color: var(--blue1);
  color: white;
}
.award-I {
  width: 16rem;
  height: 16rem;
  border-radius: 1rem;
  border: var(--blue1) 1px solid;
}

/* -------------------------------------------------------------- */

.awardsss{
  width: 80%;
}
.award-Link{
  width:fit-content;
  color: black;
  padding: 0 6px;
  font-size: 1.4rem;
  background-color:rgb(223, 247, 255);
}
.award-Link:hover{
  cursor: pointer;
  background-color: var(--blue1);
  color: white;
}

/* -------------------------------------------------------------- */

.investors{
  width: 80%;
  height: 20rem;
  gap: 4rem;
}
.investor-Img{
  padding: 2rem;
}
.investor-Img > img {
  width: 30rem;
}
.investor-Names{
  font-size: 2rem;
  align-items: start;
}



/* T =============================================================  */
@media (max-width: 1024px) {
}

/* M =============================================================  */
@media (max-width: 412px) {
}
