.process {
  width: 16rem;
  flex-direction: column;
  border: var(--blue1) 1px solid;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 0px var(--blue2);
}
.process-N {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: var(--blue2);
  font-size: 4rem;
  font-weight: bold;
}
.process-Next {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

/* -------------------------------------------------------------- */

#linkedIn {
  width: fit-content;
  color: black;
}
#linkedIn:hover {
  cursor: pointer;
  background-color: var(--blue1);
  border-radius: 1rem;
  color: white;
}

/* T =============================================================  */
@media (max-width: 1024px) {
}

/* M =============================================================  */
@media (max-width: 412px) {
}
