.carousel{
    width: 100%;
    height: 100%;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
}

.carousel-r1{
    width: 100%;
    height: 90%;
    justify-content: space-between;
    /* padding: 0 10rem; */
}
.carousel-r2{
    width: 100%;
    height: 10%;
}

.carousel-mid{
    /* height: 100%; */
    padding: 10px;
    flex-direction: column;
    background-color: white;
    border: black 1px solid;
    border-radius: 8px;
    gap: 8px;
}

.carousel-img > img{
    height: 36rem;
}
.carousel-caption{
    height: 2rem;
    font-size: 1.6rem;
    color: var(--blue1);
}

.carousel-nav{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: var(--blue1);
}
.carousel-nav:hover{
    border: white 2px solid;
    background-color: white;
    color: var(--blue1);
}
.carousel-nav img{
    width: 32px;
    height: 32px;
}

.carousel-dots{
    gap: 8px;
}
.carousel-dot{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    border: black 1px solid;
}

/* Tab =============================================================  */
@media (max-width: 1024px) {
    .carousel-r1{
        justify-content: center;
    }
    .carousel-nav{
        display: none;
    }
}

/* Mobile =============================================================  */
@media (max-width: 430px) {
    .carousel-img > img{
        height: 20rem;
    }

}
  